:root {
    --light-grey: #f5f5f5;
    --mid-grey: #d3d3d3;
    --dark-grey: #333333;
    --bright-purple: #855ee0;;
    --light-purple: #9880d3;
    --light-teal: #A7EDE7;
    --darker-teal: #7CC7C5;
}